.app-header {
  border-bottom: 1px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button {
    margin-right: 20px;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: fit-content;
  }
  .logo {
    width: 40px;
  }
  .title {
    margin-inline: 2px;
    color: #1c274c;
  }
  .logged-user {
    cursor: pointer;
    font-weight: bold;
    padding-inline: 10px;
  }
  .user-display {
    display: flex;
    align-items: center;
  }
  .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-position: center center;
    object-fit: cover;
  }
  .user-name {
    margin-inline: 10px;
  }
}
