.confirm-dialog {
  position: fixed;
  z-index: 30;
  .dialog-container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    background-color: #adc4ce;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
    border-radius: 10px;

    @media (min-width: 1024px) {
      width: 40%;
    }
    @media (min-height: 400px) {
      height: 25%;
    }
  }
  .black-screen {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.494);
    cursor: pointer;
  }
  .description {
    margin-block: 30px;
  }
  .confirm-action-buttons {
    display: flex;
    justify-content: center;
  }
  Button {
    margin-inline: 20px;
    margin-bottom: 30px;
    width: 60px;
  }
}
