.drawer {
  position: fixed;

  .black-screen {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.494);
    cursor: pointer;
  }

  .drawer-inner {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #adc4ce;
    z-index: 20;
  }

  Button {
    // width: 100%;
    margin-block: 10px;
    // color: black !important;
    // background-color: transparent !important;
    &:hover {
      background-color: red;
    }
  }
  .logout {
    // position: absolute;
    left: 50%;
    // transform: translate(-50%);
    bottom: 10%;
  }
}
