.post {
  background-color: white;
  height: 110px;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
  padding-inline: 15px;
  font-size: 18px;
  align-items: flex-end;
}
