.profile-page {
  .user-display-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 100px 30px;
  }
  .user-details {
    margin-inline: 30px;
  }
  .profile-img-header {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
  }
}
